/* fix the canvas to the window, and place it behind the content */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

nav {
    background-color: white;
    padding: 2rem;
    max-width: 150px;
}

.title {
    font-family: "Rubik Mono One", monospace;
    /* font-size: clamp(6rem, 2rem + 10vmin, 8rem); */
    letter-spacing: 1px;
    color: white;
    opacity: 0.9;
    max-width: 40rem;
    text-shadow: 4px 4px black;
}