@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

body {
    margin: 0;
    font-family: "Nanum Myeongjo", serif;
}

canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

header {
    font-size: clamp(2rem, 1rem + 5vmin, 6rem);
    margin: 2em;
}

header a {
    font-size: 1rem;
    color: white;
}

.title {
    color: white;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    p
}


.nanum-myeongjo-regular {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .nanum-myeongjo-bold {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .nanum-myeongjo-extrabold {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 800;
    font-style: normal;
  }